export WORKSHOP_OPENAI_API_KEY=<see https://console.cloud.google.com/security/secret-manager?project=agentic-layer-workshop>
export WORKSHOP_GEMINI_API_KEY=<see https://console.cloud.google.com/security/secret-manager?project=agentic-layer-workshop>
export WORKSHOP_PASSWORD=<see https://console.cloud.google.com/security/secret-manager/secret/WORKSHOP_PASSWORD?project=agentic-layer-workshop>
