WORKSHOP_OPENAI_API_KEY=<see https://console.cloud.google.com/security/secret-manager?project=agentic-layer-workshop>
WORKSHOP_GEMINI_API_KEY=<see https://console.cloud.google.com/security/secret-manager?project=agentic-layer-workshop>

